
*.exe
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.txt
tempCodeRunnerFile.cpp
*.log
*.check_cache
*.cmake
*.json
*.xml
*.pb
*.iml
*.bin
*.db
Introduction to professional activity/Laboratory works/.project
